<div class="about-banner">
    <div class="image-holder">
        <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/about-bookmundi.jpg" alt="About Us" class="img-responsive" width="1024" height="400">
    </div>
    <div class="text-block">
        <div class="container">
            <div class="txt-table">
                <div class="txt-cell">
                    <strong class="about-title">A better way of travelling <span> and touring the world!</span></strong>
                    @*<div class="button-holder">
                            <a href="javascript:void(0)" class="why-btn" id="about-action">Why Bookmundi</a>
                            <a href="javascript:void(0)" class="why-btn green" id="tours-action">Tour the world</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-section-wrap">
    <div class="about-section-block">
        <h1>About Us</h1>

        <p class="about-txt"><strong>Bookmundi is a Denmark based, but global travel booking portal where you effortlessly can book day tours, fixed group departures, holidays and vacation packages in 120+ countries around the world.</strong></p>

        <p>Today, booking the right tour or holiday package has become a time consuming and painful process. Which tour operator is qualified? What’s the right tour price? When you pay an upfront deposit to an unknown tour operator, is your money safe? Are the reviews seen on a local operators website genuine? </p>
        <p>Bookmundi gives you a painless and easy tour booking process by: </p>
        <ul class="bookmundi-why">
            <li>Only offering tours delivered by qualified and licensed tour operators, supported by unbiased and genuine customer reviews. </li>
            <li>Giving you a Best Price Guarantee for all tours offered. </li>
            <li>Giving you a safe way to pay for tours around the world, with Bookmundi covering all credit card fees, and not adding any extra fees on top.</li>
            <li>Connecting you directly with a local travel expert around the world, if you need a customised tour package, and local travel advice.</li>
        </ul>
    </div>
    @*<aside class="reviews-io-holder" id="reviews-io-scroll">
            <div class="io-holder">
                <h3>Reviews of Bookmundi on <a href="https://www.reviews.io/company-reviews/store/bookmundi" target="_blank" rel="nofollow noreferrer">Reviews.io</a></h3>
                <script src="https://widget.reviews.io/rich-snippet-reviews-widgets/dist.js"></script>
                <div id="full-page-widget" style="width:100%;"><iframe name="full-page-widget_frame" id="full-page-widget_frame" frameborder="0" width="224.2px" scrolling="no" height="544" title="Reviews Widget" src="https://widget.reviews.io/rich-snippet-reviews-widgets/widget?version=13b&amp;store=bookmundi&amp;widgetName=vertical&amp;primaryClr=%23f47e27&amp;layout=fullWidth&amp;height=420&amp;numReviews=21&amp;css=body%2C%20html%7Bcolor%3A%232a3439%3Bline-height%3A20px%3Bfont-family%3A%22Roboto%22%2CArial%2CHelvetica%7D.RatingVerdict%7Bfont-size%3A21px%3Bline-height%3A30px%3Bfont-weight%3A700%3Bcolor%3A%23000%3Btext-transform%3Acapitalize%3Bmargin%3A0%205px%200%200%7D.vw__header%7Bpadding%3A0%200%2025px%3Bbox-shadow%3Anone%3Bbackground%3Anone%7D.RatingStatistics%20.RatingStatistics__Text%7Bcolor%3A%23909090%3Bfont-weight%3A400%7D.vw__header%20.header__right%7Bpadding-top%3A5px%7D.RatingStars%20i.RatingStars__star%7Bcolor%3A%23fd9b35%7D.RatingStatistics%7Bfont-size%3A16px%7D.vw__content%7Bpadding-top%3A0%7D&amp;elementId=full-page-widget&amp;origin=https%3A%2F%2Fwww.bookmundi.com%2Fabout-us"></iframe></div>
                <script>richSnippetReviewsWidgets('full-page-widget',{store:'bookmundi',widgetName:'vertical',primaryClr:'#f47e27',layout:'fullWidth',height:420,numReviews:21,css:'body, html{color:#2a3439;line-height:20px;font-family:"Roboto",Arial,Helvetica}.RatingVerdict{font-size:21px;line-height:30px;font-weight:700;color:#000;text-transform:capitalize;margin:0 5px 0 0}.vw__header{padding:0 0 25px;box-shadow:none;background:none}.RatingStatistics .RatingStatistics__Text{color:#909090;font-weight:400}.vw__header .header__right{padding-top:5px}.RatingStars i.RatingStars__star{color:#fd9b35}.RatingStatistics{font-size:16px}.vw__content{padding-top:0}'});</script>
            </div>
        </aside>*@
</div>


<section class="about-section white-section" id="why-bookmundi">
    <div class="container">
        <h2>Why Bookmundi</h2>
        <div class="benefits-points">
            <div class="logo-bm">
                <span class="icon-logo"></span>
            </div>
            <div class="benefits-section">
                <div class="points-row">
                    <div class="points-col left">
                        <div class="benefits-title">
                            <div class="title-holder">
                                <span class="counter">1</span>
                                <strong class="title">Best Prices</strong>
                            </div>
                        </div>
                        <div class="benefits-desc">
                            <p>Amazing travel experiences are priceless. However, knowing that you got the best price, makes them even better. With a Best Price Guarantee on all tours, you always get the best deal on Bookmundi.</p>
                        </div>
                    </div>
                    <div class="points-col right">
                        <div class="benefits-title">
                            <div class="title-holder">
                                <span class="counter">2</span>
                                <strong class="title">World Wide Selection of Tours</strong>
                            </div>
                        </div>
                        <div class="benefits-desc">
                            <p>Offering tours in 120+ countries and on all continents, except Antarctica, allows you to easily find and book your favourite day tours and package tours across the world.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="scrollable-holder" id="tours-bookmundi">
        <div class="touring-text">
            <div><span>Where would you like to go?</span></div>
        </div>
        <div class="makeMeScrollable">
            <div class="scrollingHotSpotLeft" style="display: block; opacity: 0;"></div><div class="scrollingHotSpotRight" style="display: block; opacity: 0;"></div><div class="scrollWrapper">
                <div class="scrollableArea" style="width: 4340px;">
                    <div class="scroll-col">
                        <a href="https://www.bookmundi.com/oceania">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/oceania.jpg" alt="Oceania Tours" width="296" height="350">
                            <strong class="col-title">Oceania</strong>
                            <span class="tours-count">270 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/polar">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/polar.jpg" alt="Polar Tours" width="296" height="350">
                            <strong class="col-title">Polar</strong>
                            <span class="tours-count">26 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/europe">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/europe.jpg" alt="Europe Tours" width="296" height="350">
                            <strong class="col-title">Europe</strong>
                            <span class="tours-count">3285 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/asia">
                            <img src="/themes/global/resources/images/about-us/destinations/asia.jpg" alt="Asia Tours" width="296" height="350">
                            <strong class="col-title">Asia</strong>
                            <span class="tours-count">3357 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/north-america">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/north-america.jpg" alt="North America Tours" width="296" height="350">
                            <strong class="col-title">North America</strong>
                            <span class="tours-count">848 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/south-america">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/south-america.jpg" alt="South America Tours" width="296" height="350">
                            <strong class="col-title">South America</strong>
                            <span class="tours-count">1436 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/africa">
                            <img src="/themes/global/resources/images/about-us/destinations/africa.jpg" alt="Africa Tours" width="296" height="350">
                            <strong class="col-title">Africa</strong>
                            <span class="tours-count">1747 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/oceania">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/oceania.jpg" alt="Oceania Tours" width="296" height="350">
                            <strong class="col-title">Oceania</strong>
                            <span class="tours-count">270 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/polar">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/polar.jpg" alt="Polar Tours" width="296" height="350">
                            <strong class="col-title">Polar</strong>
                            <span class="tours-count">26 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/europe">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/europe.jpg" alt="Europe Tours" width="296" height="350">
                            <strong class="col-title">Europe</strong>
                            <span class="tours-count">3285 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/asia">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/asia.jpg" alt="Asia Tours" width="296" height="350">
                            <strong class="col-title">Asia</strong>
                            <span class="tours-count">3357 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/north-america">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/north-america.jpg" alt="North America Tours" width="296" height="350">
                            <strong class="col-title">North America</strong>
                            <span class="tours-count">848 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/south-america">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/south-america.jpg" alt="South America Tours" width="296" height="350">
                            <strong class="col-title">South America</strong>
                            <span class="tours-count">1436 Tours</span>
                        </a>
                    </div><div class="scroll-col">
                        <a href="https://www.bookmundi.com/africa">
                            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/destinations/africa.jpg" alt="Africa Tours" width="296" height="350">
                            <strong class="col-title">Africa</strong>
                            <span class="tours-count">1747 Tours</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="benefits-section second">
            <div class="points-row">
                <div class="points-col left">
                    <div class="benefits-title">
                        <div class="title-holder">
                            <span class="counter">3</span>
                            <strong class="title">Qualified Tour Operators</strong>
                        </div>
                    </div>
                    <div class="benefits-desc">
                        <p>We insist on a very high tour quality and therefore only work with qualified and professional tour companies. In fact, we reject up to 90% of the tour operator applications that we get. The result speaks for itself – +22,000 customer reviews with an average score of 4.8 out of 5.0 possible.</p>
                    </div>
                </div>
                <div class="points-col right">
                    <div class="benefits-title">
                        <div class="title-holder">
                            <span class="counter">4</span>
                            <strong class="title">Direct Chat with Operators</strong>
                        </div>
                    </div>
                    <div class="benefits-desc">
                        <p>Have you found the perfect tour on Bookmundi, but wish to enquire about a few tour details, or customise the tour to your own liking? For all tours, you can make an enquiry directly with the tour operator, and get a customised tour offer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<div class="about-bottom-banner">
    <div class="image-holder">
        <div class="image-block">
            <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/bottom-banner.jpg" alt="Bookmundi">
        </div>
    </div>
    <div class="bottom-text">
        <div class="container">
            <div class="bottom-holder">
                <div class="bottom-frame">
                    <strong class="bottom-title">We live in an exciting world!</strong>
                    <a href="/" class="btn btn-primary btn-explore">Start Exploring it <span class="icon-arrow487"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="quotes-block">
    <div class="https://www.bookmundi.com/themes/global/resources/images/about-us/r.jpg">
        <img src="https://www.bookmundi.com/themes/global/resources/images/about-us/r.jpg" alt="Rasmus Juul Olsen" height="225" width="225">
    </div>
    <div class="quotes-text">
        <div class="quote-holder">
            <div class="quote">
                " I founded Bookmundi with a clear vision to innovate the tour industry, making it more connected, more transparent, professional, and above all, customer friendly.
                <span>Daily, the Bookmundi team is working tirelessly to fulfil the above vision, and weekly, Bookmundi is becoming more sophisticated, faster, and ever more connected to great tours and professional tour operators around the world. "</span>
            </div>
            <div class="quote-by">
                <span class="by-dash">-</span> <span class="person-name">Rasmus Juul Olsen,</span> CEO and Founder, Bookmundi
            </div>
        </div>
    </div>
</div>

<div class="menu-block">
    <div class="social-block" id="social-only">
        <strong class="title-heading text-uppercase">join us on</strong>
        <ul class="social-networks">
            <li>
                <a target="_blank" rel="noopener" title="Facebook" href="#" class="facebook icon-facebook55"><span>Facebook</span></a>
            </li>
            <li>
                <a target="_blank" rel="noopener" title="Twitter" href="#" class="twitter icon-twitter1"><span>Twitter</span></a>
            </li>
            <li>
                <a target="_blank" rel="noopener" title="Pinterest" href="#" class="pinterest icon-pinterest"><span>Pinterest</span></a>
            </li>
            <!-- <li><a target="_blank" href="" class="linkedin">Linkedin</a></li> -->
            <!-- <li>
                <a target="_blank" rel="noopener" title="Google Plus" href="" class="google-plus icon-google116"><span>Google Plus</span></a>
            </li> -->
            <li>
                <a target="_blank" rel="noopener" title="Instagram" href="#" class="instagram icon-instagram">
                    <span>Instagram</span>
                </a>
            </li>
        </ul>
        <div class="social-like">
            <div class="fb-like fb_iframe_widget" data-href="#" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=1581686285431624&amp;container_width=93&amp;href=https%3A%2F%2Fwww.facebook.com%2Fbookmundi&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=small"><span style="vertical-align: bottom; width: 82px; height: 28px;"><iframe name="f3c5e69a5aecd7" width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.8/plugins/like.php?action=like&amp;app_id=1581686285431624&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1870c86d2df408%26domain%3Dwww.bookmundi.com%26origin%3Dhttps%253A%252F%252Fwww.bookmundi.com%252Ff37fe10317a18c4%26relation%3Dparent.parent&amp;container_width=93&amp;href=https%3A%2F%2Fwww.facebook.com%2Fbookmundi&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=small" style="border: none; visibility: visible; width: 82px; height: 28px;" class=""></iframe></span></div>
            <div class="twitter-follow">
                <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 63px; height: 20px;" title="Twitter Follow Button" src="" data-screen-name="bookmundi"></iframe>
            </div>
        </div>
    </div>
</div>

